.card {
  position: relative;
  top:-270px;
  display: flex;;
  overflow-y:hidden;
  height: 350px;
}
.item{
  background: #4a5767;
  margin-left: 10px;
}
.days {
  display: flex;
}
.dayss{
  background: #4a5767;
  margin-right: 10px;
  width: 340px;
  border-radius:20px;
  box-shadow: -15px -15px 15px rgba(110, 110, 110, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(180, 180, 180, 0.1),
    inset 5px 5px 5px rgba(65, 64, 64, 0.1);
}
.date{
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
}
.des{
  position: relative;
  top:-12px;
}
.pop{
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
}
.imagepop{
  color: white;
}.minmax{
  font-size: 18px;
  font-weight: 400;
}